# Type of node enviorement
NODE_ENV=""

# USA NO PRISMA PARA CONEXAO COM O BANCO DE DADOS SUPABASE
# Connect to Supabase via connection pooling
DATABASE_URL=""
Direct connection to the database. Used for migrations
DIRECT_URL=""

# USA NA CONFIGURACAO DE CLIENT/SERVER SUPABASE
# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Site url
APP_ORIGIN=""
NEXT_PUBLIC_APP_ORIGIN=

# Link de suporte exibido na sidebar
NEXT_PUBLIC_SUPPORT_WHATSAPP_URL="https://wa.me/55DDDNUMERO"

# USA NA CONEXAO COM O REDIS PARA RATE LIMIT
# Connection to the Upstash Redis
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# USADO PARA CRON JOB VERCEL
CRON_SECRET=""

